USE [master]
GO
/****** Object:  Database [SistemaStock]    Script Date: 25/3/2026 12:34:43 p. m. ******/
CREATE DATABASE [SistemaStock]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaStock', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SistemaStock.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaStock_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SistemaStock_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaStock].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaStock]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 25/3/2026 12:34:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[CategoriaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimientos]    Script Date: 25/3/2026 12:34:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimientos](
	[MovimientoId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Tipo] [varchar](10) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[StockAnterior] [int] NOT NULL,
	[StockNuevo] [int] NOT NULL,
	[Observacion] [varchar](200) NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovimientoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 25/3/2026 12:34:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ProductoId] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25/3/2026 12:34:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 25/3/2026 12:34:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[RolId] [int] NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([CategoriaId], [Nombre]) VALUES (2, N'Electrónica')
INSERT [dbo].[Categorias] ([CategoriaId], [Nombre]) VALUES (3, N'Herramientas')
INSERT [dbo].[Categorias] ([CategoriaId], [Nombre]) VALUES (4, N'Oficina')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Movimientos] ON 

INSERT [dbo].[Movimientos] ([MovimientoId], [ProductoId], [UsuarioId], [Tipo], [Cantidad], [StockAnterior], [StockNuevo], [Observacion], [Fecha]) VALUES (1, 3, 1, N'Entrada', 4, 10, 14, N'123', CAST(N'2026-03-24T16:06:02.877' AS DateTime))
INSERT [dbo].[Movimientos] ([MovimientoId], [ProductoId], [UsuarioId], [Tipo], [Cantidad], [StockAnterior], [StockNuevo], [Observacion], [Fecha]) VALUES (2, 3, 1, N'Salida', 3, 14, 11, N'1241', CAST(N'2026-03-24T16:06:14.117' AS DateTime))
INSERT [dbo].[Movimientos] ([MovimientoId], [ProductoId], [UsuarioId], [Tipo], [Cantidad], [StockAnterior], [StockNuevo], [Observacion], [Fecha]) VALUES (3, 4, 1, N'Entrada', 10, 0, 10, N'Stock inicial', CAST(N'2026-03-24T20:11:36.090' AS DateTime))
SET IDENTITY_INSERT [dbo].[Movimientos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([ProductoId], [Codigo], [Nombre], [Descripcion], [Precio], [Stock], [StockMinimo], [CategoriaId], [Activo], [FechaCreacion]) VALUES (3, N'prueba1', N'Laptop', N'asd', CAST(5600.00 AS Decimal(10, 2)), 11, 5, 2, 0, CAST(N'2026-03-24T16:03:50.757' AS DateTime))
INSERT [dbo].[Productos] ([ProductoId], [Codigo], [Nombre], [Descripcion], [Precio], [Stock], [StockMinimo], [CategoriaId], [Activo], [FechaCreacion]) VALUES (4, N'ELEC-001', N'Laptop HP 15"', N'Laptop HP con 8GB RAM y 256GB SSD', CAST(45000.00 AS Decimal(10, 2)), 10, 3, 2, 1, CAST(N'2026-03-24T20:09:15.993' AS DateTime))
INSERT [dbo].[Productos] ([ProductoId], [Codigo], [Nombre], [Descripcion], [Precio], [Stock], [StockMinimo], [CategoriaId], [Activo], [FechaCreacion]) VALUES (5, N'ELEC-002', N'Mouse Inalámbrico', N'Mouse inalámbrico Logitech', CAST(850.00 AS Decimal(10, 2)), 25, 5, 2, 1, CAST(N'2026-03-24T20:09:15.993' AS DateTime))
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RolId], [Nombre]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RolId], [Nombre]) VALUES (2, N'Usuario')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioId], [NombreUsuario], [Password], [Nombre], [RolId], [Activo]) VALUES (1, N'admin', N'$2a$11$YP19STiuKRU2O6DFQN2WE.0RswquTakiYmxzmRDXBJ9WeQagdWyva', N'admin', 1, 1)
INSERT [dbo].[Usuarios] ([UsuarioId], [NombreUsuario], [Password], [Nombre], [RolId], [Activo]) VALUES (2, N'usuario', N'$2a$11$NQyaNN5wrL25s5QApGSwXO6QAjo/6fSHM6q6wpbPUlN1D4Ok1ToFK', N'usuario', 2, 1)
INSERT [dbo].[Usuarios] ([UsuarioId], [NombreUsuario], [Password], [Nombre], [RolId], [Activo]) VALUES (3, N'Jupo', N'$2a$11$pHs/GUXRhAbRoWAaiMrle.1M20tzLltSFWxNAdO.ewEGlUXJ0C85i', N'Juan Po', 2, 0)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producto__06370DAC4D1B1FF2]    Script Date: 25/3/2026 12:34:43 p. m. ******/
ALTER TABLE [dbo].[Productos] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__6B0F5AE0980BF8C3]    Script Date: 25/3/2026 12:34:43 p. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movimientos] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0.00)) FOR [Precio]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((5)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Movimientos]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_Productos] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([ProductoId])
GO
ALTER TABLE [dbo].[Movimientos] CHECK CONSTRAINT [FK_Movimientos_Productos]
GO
ALTER TABLE [dbo].[Movimientos]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Movimientos] CHECK CONSTRAINT [FK_Movimientos_Usuarios]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([CategoriaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([RolId])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Movimientos]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[Movimientos]  WITH CHECK ADD CHECK  (([Tipo]='Salida' OR [Tipo]='Entrada'))
GO
USE [master]
GO
